.table {
    /* min-height: 300px; */
    height: 100%;
    width: 70%;
    /* border: 1px solid red; */

    overflow-y: auto;
}

.table ul {
    display: flex;
    /* border: 1px solid green; */

    height: 58px;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* border: 1px solid black; */
    margin-bottom: 5px;
    /* overflow-y: auto; */
}

.table ul li {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    width: 100%;
    list-style: none;
    /* background-color: red; */
    /* border: 1px solid pink; */
    font-family: 'Lato', sans-serif;
    /* line-height: 1.5rem; */
    /* border: 1px solid yellow; */
    /* font-size: 1rem; */
}

.order {
    /* background-color: red; */
    /* min-height: 10px; */
    /* font-size: 1rem; */
    height: 1rem;
    width: 1rem;
    /* transform: rotate(180deg); */
    /* height: 100%; */
}