.table {
    height: 100%;
    width: 70%;

    overflow-y: auto;
}

.table ul {
    display: flex;

    height: 58px;
    margin-bottom: 5px;

    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.table ul li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    list-style: none;

    gap: .3rem;
    width: 100%;
}

.order {
    height: 1rem;
    width: 1rem;
}