.filters {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* background: #FAFAFA; */
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* border: 1px solid black; */
    min-height: 205px;
    /* border: 1px solid red; */
    padding: 1rem;

}

.filters h2 {
    font-weight: 500;
    /* font-size: 12px; */
    margin-bottom: .7rem;
    color: #B9B9B9;
}

.filters-options {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin-bottom: .7rem;
}

.filters-options>div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 80px;
    height: 20px;
    padding: 1rem;

    /* background-color: red; */
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.filters-options>div:hover {
    background-color: #cac6c6;
}

.filters-buttons {
    display: flex;
    gap: 1rem;

    /* background-color: blue; */
}

.filters-buttons>button {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 98px;
    height: 30px;
    padding: 8px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.3rem;
    cursor: pointer;
    border: none;

    /* background-color: red; */
}

.filters-buttons>button:hover {
    transform: scale(1.05);
}